.place__image {
    width: min(43vw, 460px);
    object-fit: contain;
    object-position: top;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__image {
        width: min(440px, 44.3vw);
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        width: 100%;
    }
}