.place__paragraphs {
    width: 49%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

@media screen and (max-width: 767px) {
    .place__paragraphs {
        width: 90%;
        row-gap: 25px;
    }
}