@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url(../fonts/Inter-Regular.otf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url(../fonts/Inter-Black.otf);
}