.cover {
    width: min(100vw, 1184px);
    height: min(62.5vw, 740px);
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/cover-trains.jpg);
    background-clip: content-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        padding-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        padding-top: 64px;
        row-gap: 16px;
    }
}

.cover:hover {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../../images/cover-trains.jpg);
}