.place {
    justify-content: space-between;
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 690px) {
    .place {
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
    }
}