.place__website {
    width: 456px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: end;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__website {
        width: min(45.8vw, 456px);
    }
}

@media screen and (max-width: 767px) {
    .place__website {
        width: 90vw;
    }
}