.intro__title {
    max-width: 690px;
    margin: 0 auto 0 0;
    color: #fff;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    font-family: 'Inter', 'Arial', sans-serif;
}


@media screen and (min-width: 368px) and (max-width: 816px) {
    .intro__title {
        max-width: 100%;
    }
}

@media screen and (max-width: 367px) {
    .intro__title {        
        font-size: 32px;
        line-height: 35px;
    }
}