.intro__title {
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Inter;
}

@media screen and (max-width: 767px) {
    .intro__title {
        line-height: 35px;
        font-size: 32px;
    }
}